dist-newstyle/
Verilog/
build/
db/
simulation/sim
simulation/obj_dir
log.txt
sim
Mem.hex
Mem.ihex
DMem.hex
IMem.hex
GpuMem.hex
zig/kernel.asm
zig/user.asm
zig/log.txt
zig/zig-out
zig/zig-cache
zig/.zig-cache
kernel/target
user/target
bootloader/target
kernel/log.txt
user/log.txt
kernel/kernel.asm
user/user.asm
bootloader/bootloader.asm
gpu_firmware/build
gpu_firmware/log.txt
gpu_firmware/firmware.asm
